<nav class="navbar">
    <div class="logo-container">
        <img src="/img/sakila_logo.png" alt="Logo Sakila" class="logo">
    </div>

    <ul class="nav-links">
        <li><a href="/" class="{{#if (eq currentPage 'home')}}active{{/if}}">Inicio</a></li>
        <li><a href="/movies" class="{{#if (eq currentPage 'movies')}}active{{else if (eq currentPage 'movie')}}active{{else if (eq currentPage 'movieEdit')}}active{{else if (eq currentPage 'movieAdd')}}active{{/if}}">Películas</a></li>
        <li><a href="/customers" class="{{#if (eq currentPage 'customers')}}active{{/if}}">Clientes</a></li>
    </ul>
</nav>