
<main>
    <div class="container dashboard-main-div">

        <!-- Radio buttons for state management -->
        <input type="radio" name="tab" id="tab1" checked>
        <input type="radio" name="tab" id="tab2">

        <div class="side-bar">
            <label class="tabButton tabButton1" for="tab1">
                <div class="tab-img">
                    <img src="/img/money_bag.png" alt="money_bag">
                </div>
                <p>KPI</p>
            </label>
            <label class="tabButton tabButton2" for="tab2">
                <div class="tab-img">
                    <img src="/img/book.png" alt="money_bag">
                </div>
                <p>Listados</p>
            </label>
        </div>
    </div>
</main>