
<main>
    <div class="container dashboard-main-div">

        <!-- Radio buttons for state management -->
        <input type="radio" name="tab" id="tab1" checked>
        <input type="radio" name="tab" id="tab2">

        <div class="side-bar">
            <label class="tabButton tabButton1" for="tab1">
                <div class="tab-img">
                    <img src="/img/money_bag.png" alt="money_bag">
                </div>
                <p>KPI</p>
            </label>
            <label class="tabButton tabButton2" for="tab2">
                <div class="tab-img">
                    <img src="/img/book.png" alt="money_bag">
                </div>
                <p>Listados</p>
            </label>
        </div>

        <!-- Tab content -->
        <div class="tab-content content-1">
            <div class="top-tab">
                <h2 class="tab-title">KPI</h2>
            </div>
            <div class="kpi-content">
                <div class="kpi-stats">
                    <div class="kpi-block">
                        <h3 class="kpi-block-title">Ventas de hoy</h3>
                        <p class="kpi-block-value">7</p>
                    </div>
                    <div class="kpi-block">
                        <h3 class="kpi-block-title">Ventas del mes</h3>
                        <p class="kpi-block-value">13</p>
                    </div>
                    <div class="kpi-block">
                        <h3 class="kpi-block-title">Pedidos de hoy</h3>
                        <p class="kpi-block-value">29</p>
                    </div>
                    <div class="kpi-block">
                        <h3 class="kpi-block-title">Pedidos del mes</h3>
                        <p class="kpi-block-value">144</p>
                    </div>
                </div>
                <div class="kpi-stock">
                    <div class="kpi-stock-table-div">
                        <table class="kpi-stock-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">Producto</th>
                                    <th style="text-align: left;">Categoría</th>
                                    <th style="text-align: center;">Stock</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Mesa Estudio</td>
                                <td>Muebles</td>
                                <td class="stock-cell low-stock">10</td>
                            </tr>
                            <tr>
                                <td>Ordenador Sobremesa</td>
                                <td>Electrodoméstico</td>
                                <td class="stock-cell critic-stock">2</td>
                            </tr>
                            <tr>
                                <td>Escultura Piedra</td>
                                <td>Decoración</td>
                                <td class="stock-cell ok-stock">4</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content content-2">
            <div class="top-tab">
                <h2 class="tab-title">Listados</h2>
            </div>
            <div class="listado-content">
                <div class="kpi-stock">
                    <div class="kpi-stock-table-div">
                        <table class="kpi-stock-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">Producto</th>
                                    <th style="text-align: left;">Categoría</th>
                                    <th style="text-align: center;">Stock</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Mesa Estudio</td>
                                <td>Muebles</td>
                                <td class="stock-cell low-stock">10</td>
                            </tr>
                            <tr>
                                <td>Ordenador Sobremesa</td>
                                <td>Electrodoméstico</td>
                                <td class="stock-cell critic-stock">2</td>
                            </tr>
                            <tr>
                                <td>Escultura Piedra</td>
                                <td>Decoración</td>
                                <td class="stock-cell ok-stock">4</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>