<main>
    <h1 class="page-title">Productos</h1>
    <div class="container big-table-div">
        <table class="big-table">

            <thead>
                <tr>
                    <th style="text-align: right;">ID</th>
                    <th style="text-align: left;">Producto</th>
                    <th style="text-align: left;">Categoría</th>
                    <th style="text-align: center;">Precio</th>
                    <th style="text-align: center;">Stock</th>
                    <th style="text-align: center;">Activo</th>
                    <th style="text-align: center;">Acciones</th>
                </tr>
            </thead>
            <tr>
                <td class="id-cell">1</td>
                <td>Mesa Estudio</td>
                <td>Muebles</td>
                <td class="centered-cell">10 €</td>
                <td class="centered-cell low-stock">10 €</td>
                <td class="centered-cell">Activo</td>
                <td class="centered-cell">Editar</td>
            </tr>
            <tr>
                <td class="id-cell">2</td>
                <td>Ordenador Sobremesa</td>
                <td>Electrodoméstico</td>
                <td class="centered-cell">10 €</td>
                <td class="centered-cell critic-stock">2</td>
                <td class="centered-cell">Activo</td>
                <td class="centered-cell">Editar</td>
            </tr>
        </table>
    </div>
</main>