body {
    margin: 0;
    font-family: 'Baloo 2', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    color: #363537;
}

main {
    display: flex;
    flex: 1;
}

.container {
    width: 71rem;
}

.navbar {
    display: flex;
    justify-content: left;
    justify-self: center;
    align-items: center;
    height: 70px;
    padding: 0 2rem;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    max-height: 45px;
    width: auto;
    object-fit: contain;
    display: block;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0 50px;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 600;
    color: #363537;
    transition: color 0.2s ease;
}

.nav-links li a:hover {
    color: #1AAE5E;
}

.active {
    border-bottom: 2px solid #1AAE5E;
    padding-bottom: 4px;
}

.svg-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.themes-button {
    width: 100%;
    justify-content: right;
}

svg {
    fill: #363537;
}

/* Hide radio buttons */
.dashboard-main-div input {
    display: none;
}

.dashboard-main-div {
    background-color: rgb(236, 237, 238);
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    align-self: center;
}

.side-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    background-color: #0C9DB4;
}

/* Tab buttons */
.tabButton {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 10%;
    font-weight: 600;
    color: #ffffff;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

.tabButton:hover {
    background-color: #0a879b;
}

.tab-img {
    display: flex;
    height: 100%;
    width: 45%;
    align-items: center;
    justify-content: right;
}

.tab-img img {
    height: 75%;
    width: auto;
}

footer {
    background-color: rgb(245 247 249);
    color: #363537;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    width: 100%;
    font-weight: 700;
}

footer span {
    color: #fbbf24;
}