<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {{> header}}
        <title>Titulo</title>
    </head>
    <body>
        {{> menu}}
        
        {{{body}}}

        {{> footer}}
    </body>
</html>
